/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}
header{
    height: 50px;
    background-color: black;
}
main{
    height: calc(100% - 130px);
    width: 90%;
    background-color: yellow;
    margin: auto;
    overflow-y: auto;
}
footer{
    height: 80px;
    background-color: blueviolet;
}
/* COMMON */
a{
    background-color: #4a4a4a;
    margin-right: 8px;
    text-decoration: none;
    color: white;
}
/* HEADER */
header a{
    border-radius: 5px;
    padding: 3px;
}
header .button{
    text-align: right;
    padding-top: 7px;
}
/* MAIN */

/* FOOTER */